/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* COMMON STYLES */
/* html {
    display: flex;
    justify-content: center;
    align-items: center;
} */

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;

    align-items: center;

}

/* TOP HEADER */
.header-top {
    display: flex;
    gap: 24px;
    flex-direction: row;
    width: 1321px;
    height: 646px;
    background-color: #161616;
    border-radius: 30px;
}

.header-title {
    padding-left: 106px;
    padding-top: 111px;
    padding-bottom: 111px;
}

.header-title p {
    font-size: 70px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;

}

.header-description p {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}

.header-btn-wlive {
    background-color: #DD0000;
    border-color: #DD0000;
    border-radius: 5px;
    font-size: 20px;
    color: #FFFFFF;
    padding: 16px 25px;
}

.header-img img {
    width: 581px;
    padding-right: 80px;
    padding-top: 35px;
    animation: 1s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {

    100% {
        transform: translateX(0);
    }

    0% {
        transform: translateX(100%);
    }


}


/* MAIN SECTION */
/* MAIN SECTION SIDEBAR */
.main-section {
    width: 1321px;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.main-section-sidebar {
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
}

/* MAIN SECTION BUTTONS */
.main-sidebar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    width: 312px;
    height: 312px;

}

.main-sidebar-btn-common {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 252px;
    height: 64px;
    background-color: #FFFFFF;
    border-radius: 10px;

}

.btn-upcoming-match,
.btn-all-group,
.btn-blog {
    border: none;
    font-size: 20px;
    font-weight: 700;
    background: none;

}

#btn-blog {
    background-color: #DD0000;
    color: #FFFFFF;

}

.blog {
    padding-bottom: 25px;
}

.blog p {
    width: 312px;
}

.main-blogs-bottom-line i {
    display: inline-block;
    padding: 0 15px;



}

.hide {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

footer {
    width: 100%;
    height: 244px;
    background-color: #161616;
}

.footer-p {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.footer-a {
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
}

.footer-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}


/* MAIN SECTION BLOGS */
.main-section-blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
    padding-left: 15px;


}

.btn-see-all {
    display: none;
}

/* FIXURES PART */

.fixtures-container {}

.fixures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 280px;

}

.fixures p {
    margin: 0;
}

.fixure-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

/* MEDIA QUERY */
/* FOR FOR MOBILE */
@media only screen and (max-width:576px) {


    .header-top {
        display: flex;
        width: 334px;
        height: 460px;


        /* width: 100%;
        height: 100%; */
        flex-direction: column;
        background-color: #161616;
        border-radius: 10px;
    }


    .header-title {
        padding: 0;
    }

    .header-title p {
        padding: 20px 38px 0 28px;
        font-size: 24px;
        text-align: center;
        color: #FFFFFF;
        /* margin: 0; */

    }

    .header-description {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }

    .header-description p {
        white-space: nowrap;
        width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;

        /* display: none; */
        font-size: 12px;
        /* font-size: 22px; */
        /* text-align: center; */
        color: #FFFFFF;
        margin: 0;
        /* padding-bottom: 20px; */
    }

    .header-btn {
        display: flex;
        justify-content: center;
    }

    .header-btn-wlive {
        align-items: center;
        background-color: #DD0000;
        border-color: #DD0000;
        border-radius: 10px;
        font-size: 20px;
        color: #FFFFFF;
        padding: 8px 12px;
    }

    .header-img {
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding-bottom: 25px; */


    }

    .header-img img {
        width: 233px;
        padding-right: 0px;
        padding-top: 0px;
        /* width: 80%;
        height: auto; */

    }

    .main-section {
        width: 334px;
        display: flex;
        flex-direction: column;
        /* padding-top: 50px; */
    }

    .main-section-sidebar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border: 2px solid red; */
        width: 312px;
        height: 312px;
        background-color: white;
        border-radius: 10px;
        /* padding-bottom: 10px; */
    }

    .main-sidebar-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* gap: 30px; */
        border-radius: 10px;
        width: 312px;
        /* height: 100px; */

    }


    .main-section-blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* width: 75%; */
        padding-top: 25px;


    }

}

/* MEDIUM SIZE DEVICE */
@media only screen and (min-width:577px) and (max-width:996px) {

    .header-top {
        display: flex;
        width: 734px;
        height: 398px;
        flex-direction: row;
        background-color: #161616;
        border-radius: 10px;
    }

    .header-title {
        padding-left: 72px;
        /* padding-top: 111px; */
        padding-bottom: 111px;
    }

    .header-title p {
        font-size: 35px;
        font-weight: 700;
        color: #FFFFFF;
        margin: 0;

    }

    .header-description p {
        white-space: nowrap;
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        font-weight: 400;
        padding-bottom: 20px;
    }

    .header-img img {
        width: 323px;
        padding-right: 70px;
        padding-top: 58px;
    }



    .main-section {
        width: 734px;
        display: flex;
        flex-direction: column;
        /* padding-top: 50px; */
    }

    .main-section-sidebar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* border: 2px solid red; */
        width: 734px;
        height: 100px;
        background-color: white;
        border-radius: 10px;
        border-color: #161616;
        /* padding-bottom: 10px; */
    }

    .main-sidebar-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        /* gap: 30px; */
        border-radius: 10px;
        width: 734px;
        height: 100px;

    }





    .main-sidebar-btn-common {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 64px;
        background-color: #FFFFFF;
        border-radius: 10px;
        border: 2px solid gray;


    }

    .main-section-blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 734px;
        padding-top: 25px;


    }

    .blogs {
        display: flex;
        flex-direction: column;

    }

    .btn-see-all {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 25px 0;
    }

    .btn-see-all-style {
        text-decoration: none;
        background-color: #DD0000;
        border-radius: 15px;
        border-color: #DD0000;
        padding: 15px 25px;
        color: white;
        text-align: center;

    }

    .hide {
        display: none;
    }


}

/* ANIMATION PART */